<!DOCTYPE html>
<html>
  <head>
    <title>Rails60</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%# <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %1> %>
    <%# <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %1> %>
  </head>

  <body>
    <%= yield %>
  </body>
</html>
